<!doctype html>
<html lang="fr">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animation_Rainbow.css">
        <link rel="stylesheet" href="/css/animation_loader.css">
        <link rel="stylesheet" href="/css/rainbow_operators_pages.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <div class="HUD">

          <div class="topnav" id="myTopnav">
            <a href="/home" class="active">InfoLab</a>
            <a href="/home/news">News</a>
            <a href="/home/contact">Contact</a>
            <a href="/home/about">About</a>
            <div class="dropdown">
              <button class="dropbtn">Dropdown
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <h5 class="dropdown-header">FPS Games</h5>
                <a href="/home/R6">Rainbow Six</a>
                <h5 class="dropdown-header">Cars Games</h5>
                <a href="#Rocket">Rocket League</a>
                <h5 class="dropdown-header">RPG Games</h5>
                <a href="#Autre">More...</a>
              </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>


            <div class="button-theme">
              <button type="button" class="btn btn-light">Light</button>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>

          </div> 

          <div class="logosRainbow">
            <img src="/img/Rainbow6S/R6-6-logo.png" style="width:50px;height:50px;">
            <img src="/img/Rainbow6S/R6-logo.png" class="R6logo">
          </div>

        </div>
     

    </head>
  <body class="bodyThermite">

    <div class="text-block">

      <div class="presentation">
      
        <div><!-- Section presentation agent -->
          <img id="logo" src="<%=operator.badge%>">
          <span id="name"><%= operator.name%></span>
          <img id="faction-flag" src="<%=operator.faction.flag%>">
          <span id="sigle"><%=operator.faction.sigle%></span>
          
          <br>

          <span id="side">Side</span>
          <img id="camp-logo" src="<%=operator.camp.logo%>">
          <span id="side"><%=operator.camp.side%></span>
          
          <br>

          <span id="role">Rôles</span>      
          <hr id="role-line">
          <span id="role-list"><%=operator.role%></span>

          

          <div id="stats" class="row" style="padding-top: 10px;">

            <div class="col-md-3" style="width: 12em; ">
              <span id="protection">PROTECTION</span>
              <hr id="stats-line" style="width: 100%; height:2px; margin-bottom: 2px; margin-top: 0px; opacity: 0.6; color:white;background-color:white;">

              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
            </div>
    
            <div class="col-md-3" style="width: 12em; margin-left: 10px;">
              <span id="vitesse" >VITESSE</span>
              <hr id="stats-line"style="width: 100%; height:2px; margin-bottom: 2px; margin-top: 0px; opacity: 0.6; color:white;background-color:white;">
            
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>

            </div>
    
            <div class="col-md-3" style="width: 12em; margin-left: 10px;">
              <span id="difficulte">DIFFICULTÉ</span>
              <hr id="stats-line" style="width: 100%; height:2px; margin-bottom: 2px; margin-top: 0px; opacity: 0.6; color:white;background-color:white;">
    
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              
            </div>

            

          </div>
         
          
        </div>

      
      </div>
      
      <div id="presentation-text">

        <h3>PRÉSENTATION</h3>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/22TK02iWyZQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p><%=operator.presentation%></p>
        
      </div>


      <div class="biographie"><!-- Section Biographie agent -->

        <h1 style="text-align: center; padding-bottom: 1em; padding-right: 4.8em;">BIOGRAPHIE</h1>

        <section class="row-container">
          <div class="row1"><span> Nom de naissance </span><div id="row-info"><%=operator.biographie["nom_de_naissance"]%></div> </div>
          <div class="row2"><span> Date de naissance </span><div id="row-info"><%=operator.biographie["date_de_naissance"]%></div></div>
          <div class="row3"><span> Lieu de naissance </span><div id="row-info"><%=operator.biographie["lieu_de_naissance"]%></div></div>
        </section>

        <div id="biographie-description">
          <h4>ÉDUCATION</h4>

          "Vous voyez un mur, alors que moi, j'y vois une opportunité."<br><br>
          
          Trace rejoint le Corps des Marines dès la sortie du lycée, respectant ainsi une tradition familiale qui dure depuis quatre générations. Après sa première opération en Irak, il est assez expérimenté pour se porter volontaire en tant que technicien spécialisé en déminage. Au terme de sa deuxième opération en Irak, Trace rentre aux États-Unis, s'inscrit à l'université et obtient un master de chimie. Il décide alors de mettre ses compétences au service du FBI, où il opère pendant plusieurs années comme agent de terrain dans l'unité de gestion des substances toxiques. Mais il est à la recherche de nouveaux défis, et il rejoint alors l'unité SWAT du FBI, où il développe de nouveaux protocoles de barricades. Il finit par rejoindre Rainbow pour travailler à l'amélioration des gadgets au sein du département Recherche et développement. Trace a grandi dans la ville de Plano, qui concentre un grand nombre de Sino-Américains, et il a donc des compétences en mandarin. <br><br>
          
          <h4>RAPPORT PSYCHOLOGIQUE</h4>
          
          Pour quelqu'un d'aussi ordonné et discipliné, le spécialiste Jordan "Thermite" Trace est plein de surprises. Il sait se montrer farceur et il a toujours une petite phrase en réserve pour faire son malin. Mais sous la surface, la perte récente de sa sœur, emportée par un cancer, et celle de sa mère quelques années auparavant, ont totalement chamboulé son aptitude à canaliser son énergie et ses pensées.[…]Je pense qu'il utilise l'humour pour masquer sa peine, mais il est important qu'il comprenne que certains subterfuges ne font que repousser le processus d'acceptation. Il y a certaines choses qui peuvent l'aider à passer le cap et je continuerai à lui proposer un soutien dès que j'en aurai l'occasion.[…]<br><br>
          
          Trace sait s'imposer comme un véritable leader tactique, mais il lui arrive également de foncer sans se poser de question. Cependant, je ne pense pas qu'il ait de réels problèmes avec les autres membres du groupe. Ils l'apprécient et il entretient même une belle relation professionnelle avec les spécialistes Yumiko "Hibana" Imagawa, Mike "Thatcher" Baker et Emmanuelle "Twitch" Pichon. En dehors des opérations, c'est véritablement un animal social. […]<br><br>
          
          J'ai tout de même relevé quelques pistes d'amélioration : Trace dispose d'une très bonne aptitude à communiquer... quand il le décide. Il met sur pied d'excellentes stratégies, mais il a la fâcheuse tendance à se renfermer. Je sais pertinemment qu'il est doué d'une belle capacité de réflexion, et je lui ai donné quelques astuces pour qu'il parvienne à reconnaître quand il s'entête un peu trop.[…] <br><br>

          Son sourire veut dire bien des choses. J'aimerais qu'il réussisse à se réguler, qu'il trouve un bon équilibre entre sa vie privée et sa vie professionnelle. Il ne montre aucun signe de stress, car il arrive toujours à canaliser son anxiété et à la transformer en quelque chose de positif, comme son implication au laboratoire de R&D. Ça n'a pas été facile de le convaincre qu'il doit savoir faire une pause en oubliant un peu son rôle d'agent ; transposer son attention sur une autre tâche d'égale intensité n'est pas une solution. […]Je lui ai donné des exercices de relaxation mentale à effectuer pendant la journée, sans que cela ne lui prenne trop de temps, et je pense qu'Imagawa, en particulier, peut lui apporter quelque chose, car elle pratique régulièrement des techniques de relaxation et de concentration. J'espère qu'il suivra son exemple. <br><br>
        </div>

        <!--<div id="attaquant">
          <h1>Autres attaquants</h1>
          

        </div>-->

          
      

      </div>

    </div>
  


  
    <script> 
      const lightButton = document.getElementsByClassName('btn btn-light')[0];
      const darkButton = document.getElementsByClassName('btn btn-dark')[0];
      
      lightButton.addEventListener( 'click', (event) =>
      {
        event.preventDefault();
        document.body.classList.remove( 'color-scheme-dark' );
        document.body.classList.add( 'color-scheme-light' );
      } );
      
      darkButton.addEventListener( 'click', (event) => 
      {
        event.preventDefault();
        document.body.classList.remove( 'color-scheme-light' );
        document.body.classList.add( 'color-scheme-dark' );
      } );

    </script>
  </body>
</html>